<!DOCTYPE html>
<html>
<head>
	<title>Dashboard</title>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script src="/js/admin/dashApp.js"></script>
	<script src="/assets/angular-route.min.js"></script>
</head>
<body ng-app="dashApp" ng-controller="mainCtrl">
	<a href="#/users">Users</a>
	<a href="#/sessions">Sessions</a>
	<div ng-view></div>
</table>
</body>
</html>