#cal {
  margin: 0px;
  padding: 0px;
  display: flex;
  align-content: center; }
  #cal .day {
    flex: 1; }
    #cal .day .title {
      color: red;
      text-align: center; }
    #cal .day .session {
      text-align: center;
      cursor: pointer; }

.selected {
  background-color: #006400; }

.booked {
  background-color: red; }
