<!DOCTYPE HTML>
<head>
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->

	<!--  -->
	<link rel="stylesheet" media="screen" href="/assets/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" media="screen" href="/assets/bootstrap/css/bootstrap-responsive.min.css">
	<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
	<link rel="stylesheet" media="screen" href="/assets/font-awesome.min.css">
	<link href="/stylesheets/login.css" rel="stylesheet">
	<!-- toastr jquery -->
	<script src="/assets/jquery.js"></script>
	<link rel="stylesheet" type="text/css" href="/assets/toastr/toastr.min.css">
	<script type="text/javascript" src="/assets/toastr/toastr.min.js"></script>

	<!-- favicon -->
	<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/images/favicon.ico" type="image/x-icon">

	<!-- CSS -->
	<link rel="stylesheet" href="/assets/style.css">
</head>

<body>


<style>
	#logoContainer{
		text-decoration: none;
		position: absolute;
    	left: 45%;
	}

	#header{
		background: rgba(128, 128, 128, 0.25);
		height: 100px;
	}

	.pageTransitionLink{
		float: right;
		margin-top: 30px;
		text-decoration: underline !important;
	}

	.formButton{
		background: #2ea923 !important;
		color: white !important;
		text-shadow: 1px 1px 0 black !important;
	    position: absolute;
	    left: 30%;
	    margin: 15px;
	    border-radius: 3px;
	}

	.formButton:hover{
		background: #21791a !important;
	}

	.form-control{
	    margin-bottom: 5px;
	}

	#signInForm, #registerForm{
		position: absolute;
		top: 50%;
		left: 50%;
		width: 500px;
		margin-left: -250px;
		margin-top: -185px;
		background: white;
		padding: 30px 50px;
		border-radius: 5px;
		box-shadow: 0 0 10px grey;
	}

	#adminLogoText{
		font-family: 'Lobster', Sans;
		font-size: 22px;
		color: black;
	}

	#adminLogoText:hover, #adminLogoText:focus{text-decoration: none; color: green;}

	#registerPage{
		display: none;
	}

	/*MEDIA QUERIES*/
	@media (max-height: 600px){
		#signInForm, #registerForm{
			top: 300px;
		}
	}

</style>



<div>
	<div id="header">
		<h1 id="logoContainer"><a href="/" id="adminLogoText"><img src="/images/HipsterGlassesDude.png" height="70">TutorHub</a></h1>
	</div>
	<div id="signInPage">

		<div id="signInForm">
	    	<h4>Sign In</h4>
	    	<hr/>
			<form action="/auth/login" method="POST" class="form-horizontal">
				<div class="control-group">
				<!-- <label class="control-label" for="username">Username</label> -->
					<div class="controls">
						<input type="text" class="form-control" name="username" placeholder="Username" background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; background-repeat: no-repeat;" autocomplete="off" required>
					</div>
				</div>
				<div class="control-group">
				<!-- <label class="control-label" for="password">Password</label> -->
					<div class="controls">
						<input type="password" class="form-control" name="password" placeholder="Password" background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; background-repeat: no-repeat;" autocomplete="off" required>
	                </div>
				</div>
				<button id="logbtn" type="submit" class="formButton btn">Sign In</button>
			</form>
	    	<a class="pageTransitionLink" id="registerTransitionLink">Register</a>
		</div>
	</div>

	<!--  -->

	<div id="registerPage">

		<div id="registerForm">
			<h4>Register</h4>
			<hr/>
			<form method="POST">
				<input type="text" class="form-control" name="username" placeholder="Username" required>
				<input type="password" class="form-control" name="password" placeholder="Password" required>
				<input type="password" class="form-control" name="password2" placeholder="Re-Type Password" required>
				<input type="email" class="form-control" name="email" placeholder="Email" required>
				<input type="phone" class="form-control" name="phone" placeholder="Phone Number" required>
				<button id="regbtn" type="submit" class="formButton btn">Register</button>
			</form>
			<a class="pageTransitionLink" id="signInTransitionLink">Sign In</a>
		</div>
	</div>
</div>


<script>
	toastr.options.escapeHtml = true;
	// login form submission
	document.getElementById("logbtn").addEventListener("click", function(e) {
		e.preventDefault();
		var form = $("#signInForm form")[0];
		var data = {};
		[].forEach.call(form.elements, function(inp) {
			data[inp.name] = inp.value
		});
		$.post("/auth/login", data)
			.done(function(res){
				toastr.success(res.message);
				window.location = window.location.pathname.startsWith("/auth") ? "/" : window.location.pathname;
			})
			.fail(function(res) {

			});
	});
	// register form submission
	document.getElementById("regbtn").addEventListener("click", function(e) {
		e.preventDefault();
		var form = $("#registerForm form")[0];
		var data = {};
		[].forEach.call(form.elements, function(inp) {
			data[inp.name] = inp.value;
		});
		$.post("/auth/register", data)
			.done(function(res) {
				toastr.success("User created.");
				window.location = "/";
			}).fail(function(res) {
				var info;
				try {
					info = JSON.parse(res.responseText);
				} catch (e) {}

				if (info && info.error && info.error.errors) {
					for (let err in info.error.errors) {
						toastr.error(err.charAt(0).toUpperCase() + err.slice(1) + ": " + info.error.errors[err].value + " is already taken.");
					}
				} else {
					toastr.error(res.responseText);
				}
			});
	});
	document.getElementById('registerTransitionLink').addEventListener('click', function(){
		var signInPage 	 = document.getElementById('signInPage');
		var registerPage = document.getElementById('registerPage');

		signInPage.style.display = "none";
		registerPage.style.display = "inherit";
	});
	document.getElementById('signInTransitionLink').addEventListener('click', function(){
		var signInPage 	 = document.getElementById('signInPage');
		var registerPage = document.getElementById('registerPage');

		signInPage.style.display = "inherit";
		registerPage.style.display = "none";
	});
</script>

</body>

<!-- include Footer-->
</html>
