<!DOCTYPE html>
<html>
<head>
	<title>Dashboard</title>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script src="/js/admin/dashApp.js"></script>
	<script src="/assets/angular-route.min.js"></script>
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
</head>
<body ng-app="dashApp" ng-controller="mainCtrl">
	<a href="#/users">Users</a>
	<a href="#/sessions">View Sessions</a>
	<a href="#/createSession">Add Session</a>
	
	<div ng-view></div>
</table>
</body>
</html>