<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Booking</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="/js/application/booking.js"></script>
  </head>
  <body>
    <div ng-app="scheduleApp" ng-controller="mainCtrl">
      <div ng-repeat="day in days">

        <h2>{{ day.name }}</h2>

        <div ng-repeat="session in day.sessions">

          <input type="checkbox" id="{{ day.name }}-{{ $index }}" ng-change="bookSession(session)" ng-model="session.booked" ng-disabled="session.booked">

          <label for="{{ day.name }}-{{ $index }}">{{ session.date | date:'HH:mm'}}<br>
            <span ng-if="session.booked">Booked</span>
            <span ng-if="!session.booked">Available</span>
          </label>

        </div>
      </div>
    </div>
  </body>
</html>
