<!DOCTYPE HTML>
<head>
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->

<!--  -->

	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
	<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

	<link rel="stylesheet" media="screen" href="/assets/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" media="screen" href="/assets/bootstrap/css/bootstrap-responsive.min.css">
	<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
	<link rel="stylesheet" media="screen" href="/assets/font-awesome.min.css">
	<!-- <script src="/assets/jquery-1.9.0.min.js"></script> -->
	<link href="/stylesheets/login.css" rel="stylesheet">


<!--  -->


	<!-- Google fonts -->
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Josefin+Sans:600' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/css?family=Josefin+Slab" rel="stylesheet">

	<!-- font awesome -->
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

	<!-- bootstrap -->
	<link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css" />

	<!-- animate.css -->
	<link rel="stylesheet" href="/assets/animate/animate.css" />
	<link rel="stylesheet" href="/assets/animate/set.css" />

	<!-- gallery -->
	<link rel="stylesheet" href="/assets/gallery/blueimp-gallery.min.css">

	<!-- favicon -->

	<link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
	<link rel="icon" href="/images/favicon.ico" type="image/x-icon">


	<link rel="stylesheet" href="/assets/style.css">
</head>

<body>


<style>
	.pageTransitionLink{
		float: right;
		margin-top: 30px;
	}

	.formButton{
		background: #2ea923 !important;
		color: white !important;
		text-shadow: 1px 1px 0 black !important;
	}

	.formButton:hover{
		background: #21791a !important;
	}

	#signInForm, #registerForm{
		position: absolute;
		top: 50%;
		left: 50%;
		width: 500px;
		margin-left: -250px;
		margin-top: -185px;
		background: white;
		padding: 30px 50px;
		border-radius: 5px;
		box-shadow: 0 0 5px grey;
	}

	#adminLogoText{
		font-family: 'Lobster', Sans;
		font-size: 22px;
		color: black;
	}

	#adminLogoText:hover, #adminLogoText:focus{text-decoration: none; color: green;}

	/*MEDIA QUERIES*/
	@media (max-height: 600px){
		#signInForm, #registerForm{
			top: 280px;
		}
	}

</style>



<div data-role="page" id="signInPage">
  <div data-role="header" >
    <h1><a href="LINK_TO_HOME" id="adminLogoText"><img src="/images/HipsterGlassesDude.png" height="70">TutorHub</a></h1>
  </div>

  	<div id="signInForm">
    	<h4>Sign In</h4>
    	<hr/>
		<form action="/auth/login" method="POST" class="form-horizontal">
			<div class="control-group">
			<!-- <label class="control-label" for="username">Username</label> -->
				<div class="controls">
					<input type="text" class="form-control" name="username" placeholder="Username" background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; background-repeat: no-repeat;" autocomplete="off" required>
				</div>
			</div>
			<div class="control-group">
			<!-- <label class="control-label" for="password">Password</label> -->
				<div class="controls">
					<input type="password" class="form-control" name="password" placeholder="Password" background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; background-repeat: no-repeat;" autocomplete="off" required>
                </div>
			</div>
			<button type="submit" class="formButton btn">Sign In</button>
		</form>
    	<a href="#registerPage" data-transition="fade" class="pageTransitionLink">Register</a>
	</div>

   <!-- <div data-role="main" class="ui-content"> -->
    <!-- <a href="#registerPage" data-transition="fade" class="pageTransitionLink">Register</a> -->
  <!-- </div> -->

</div>

<!--  -->

<div data-role="page" id="registerPage">
	<div data-role="header">
		<h1><a href="LINK_TO_HOME" id="adminLogoText"><img src="/images/HipsterGlassesDude.png" height="70">TutorHub</a></h1>
	</div>

	<div id="registerForm">
    	<h4>Register</h4>
    	<hr/>
		<form action="/auth/register" method="POST">
			<input type="text" class="form-control" name="username" placeholder="Username" required>
			<input type="password" class="form-control" name="password" placeholder="Password" required>
			<input type="password" class="form-control" name="password2" placeholder="Re-Type Password" required>
			<input type="email" class="form-control" name="email" placeholder="Email" required>
			<input type="phone" class="form-control" name="phone" placeholder="Phone Number" required>
			<button type="submit" class="formButton btn">Register</button>
		</form>
		<a href="#signInPage" data-transition="fade" class="pageTransitionLink">Sign In</a>
	</div>



	<!-- <div data-role="main" class="ui-content">
		<a href="#signInPage" data-transition="fade" class="pageTransitionLink">Sign In</a>
	</div> -->

</div>


</body>

<!-- include Footer-->
</html>